<% if(public.games._data[current.path[1]]) { %>
<h1><%= public.games._data[current.path[1]].name %></h1>
<p>Matches: <%= public.games._data[current.path[1]].matches.length %></p>
<p>
  Unique Players: <%=
  public[current.path[0]]._data[current.path[1]].players.length %>
</p>
<p>
  Tracked Players: <%=
  public[current.path[0]]._data[current.path[1]].players.filter(([p,r]) =>
  public.players._data[p]).length %>
</p>
<table border="1">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Mean</th>
      <th>Variance</th>
    </tr>
  </thead>
  <tbody>
    <% public[current.path[0]]._data[current.path[1]].players.filter(([p,r]) =>
    public.players._data[p]).forEach(([player, _rating, {mu, variance,
    ordinal}], index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><a href="/players/<%= player %>"><%= player %></a></td>
      <td><%= ordinal %></td>
      <td><%= mu %></td>
      <td><%= variance %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<p>
  Only tracked player ratings are displayed. All players have a hidden rating.
  To display a player's rating, create a file and submit a pull request for them
  <a href="https://github.com/philihp/score/tree/master/players">here</a>.
</p>
<% } %>
