<% if(public.games._data[current.path[1]]) { %>
<h1><%= public.games._data[current.path[1]].name %></h1>
<p>Matches: <%= public.games._data[current.path[1]].matches.length %></p>
<p>
  Tracked Players: <%=
  public[current.path[0]]._data[current.path[1]].players.filter(([p,r]) =>
  public.players._data[p]).length %>
</p>
<table border="1">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Rating (Ordinal)</th>
      <th>Mu (Mean)</th>
      <th>Sigma (Variance)</th>
    </tr>
  </thead>
  <tbody>
    <% public[current.path[0]]._data[current.path[1]].players.filter(([p,r]) =>
    public.players._data[p]).forEach(([player, _rating, {mu, sigma, ordinal}],
    index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><a href="/players/<%= player %>.html"><%= player %></a></td>
      <td><%= ordinal %></td>
      <td><%= mu %></td>
      <td><%= sigma %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<p>
  Untracked Players: <%=
  public[current.path[0]]._data[current.path[1]].players.length -
  public[current.path[0]]._data[current.path[1]].players.filter(([p,r]) =>
  public.players._data[p]).length %>
</p>
<% } %>
