<!DOCTYPE html>
<html>
  <head>
    <title>OK</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/octocat.css" />
  </head>
  <body>
    <%- partial("/_octocat") %>
    <nav>
      <%- partial("/_nav") %> <%- partial(current.path[0] + "/_nav") %>
    </nav>
    <%- yield %> <%- partial(current.path[0] + "/_doc") %>
    <hr />
    <%- partial("/_footer") %>
    <!--
<%= JSON.stringify(process.env) %>
    -->
  </body>
</html>
