<!DOCTYPE html>
<html>
  <head>
    <title>OK</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/octocat.css" />
  </head>
  <body>
    <%- partial("/_octocat") %>
    <nav>
      <%- partial("/_nav") %> <%- partial(current.path[0] + "/_nav") %>
    </nav>
    <%- partial(current.path[0] + "/_doc") %> <%- yield %>
    <hr />
    <%- partial("/_footer") %>
  </body>
</html>
